@import './tailwind.css';
page {
  --primary-color: #2d7a4f;
  --secondary-color: #f8f6f0;
}
view,
scroll-view {
  box-sizing: border-box;
}
image {
  height: unset;
}
wx-button {
  &:after {
    content: none;
  }
}
